<div class="row animate__animated animate__fadeIn animate__faster" *ngIf="peliculaDetalle">
    <div class="col-md-6 ">
        <img [src]="peliculaDetalle.poster_path | poster" 
            [alt]="peliculaDetalle.title"
            class="img-thumbnail">
    </div>
    <div class="col-md-6">
        <h3>{{peliculaDetalle.title}}</h3>
        <div class="row">
            <div class="col">
                <star-rating [value]="peliculaDetalle.vote_average" totalstars="10" checkedcolor="yellow" uncheckedcolor="grey" size="15px" readonly="false" (rate)="onRate($event)"></star-rating>
            </div>
            <div class="col text-white">{{peliculaDetalle.vote_average | number: '1.1-2'}}</div>
        </div>
        <div class="row mt-2">
            <div class="col text-white text-start">{{peliculaDetalle.overview}}</div>
        </div>
        <div class="row mt-5">
            <div class="col">
                <button (click)="regresar()" class="btn btn-outline-info">Regresar</button>
            </div>
        </div>
    </div>
</div>
<div class="row mt-5" *ngIf="cast.length > 0">
    <div class="col">
        <app-cat-slideshow [cast]="cast"></app-cat-slideshow>
    </div>
</div>