<nav class="navbar navbar-expand-sm">
    <div class="container mx-auto">
      <a class="navbar-brand " routerLink="/home">PeliPlay</a>     
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
         
        </ul>
        <div class="d-flex">
          <input #txtBuscar (keyup.enter)="buscarPaliculas(txtBuscar.value)" class="form-control me-2" type="search" placeholder="Buscar peliculas" aria-label="Search">
          <button (click)="buscarPaliculas(txtBuscar.value)" class="btn btn-outline-success" type="submit">Buscar</button>
        </div>
      </div>
    </div>
  </nav>